/* RESET */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
/* FINE RESET */
/* Stili Generici */
.bar {
  position: fixed;
  width: 100%;
  height: 100px;
}
a {
  color: inherit;
  text-decoration: none;
  margin:0;
  padding: 0;
}
h2 {
  font-size: 15px;
}
/* Fine Stili Generici */
/* Upper Bar */
#upper {
  background: rgba(110, 110, 110, 0.2);
  color:white;
  top: 0;
  z-index: 1;
}
.upgrade{
  float: right;
  height: 150px;
  width: 300px;
}
.upgrade .button {
  height: 40px;
  width: 250px;
  line-height: 40px;
  margin: 28px 25px;
  text-align:center;
  border: 2px solid white;
  border-radius: 50px;
}
/* Fine Upper Bar */
/* Sidebar Menu */
#sidebar {
  position:absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: calc(100% - 100px);
  background: black;
  z-index:2;
}
/* Logo */
.logo{
  height: 100px;
  line-height: 100px;
  background: black;
  flex-grow: 0;
  flex-shrink: 0;
}
.logo img {
  height: 40px;
  margin-left: 15px;
}
/* Fine Logo */
.list {
  height: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}
.playlist {
  height: 500px;
  overflow: scroll;
}
.account {
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}
/* Fine Sidebar Menu */
/* Main Section */
#selections {
  background:#141922;
  position:absolute;
  display:flex;
  margin-left: 300px;
  height:calc(100vh - 100px);
  width:calc(100% - 300px);
  overflow:scroll;
}
/* Fine Main Section */
/* Bottom Bar */
#bottom {
  background: #282828;
  bottom: 0;
  display: flex;
  z-index: 3;
}
.listening {
  width: 300px;
  flex-shrink: 0;
}
.buttons {
  width: calc(100%-600px);
  flex-grow:2;
}
.options {
  width: 300px;
  flex-shrink:0;
}
/* Fine Bottom Bar */

/* Media Query */
/* Fine Media Query */

/* Hover Options */
/* Fine Hover Options */
