/* RESET */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
/* FINE RESET */
/* Stili Generici */
.bar {
  position: fixed;
  width: 100%;
  height: 100px;
}
a {
  color: inherit;
  text-decoration: none;
  margin:0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1 {
  color: white;
}
h2 {
  font-size: 15px;
  color: white;
}
h3 {
  display: inline-block;
  font-size: 14px;
  color:grey;
}
h4 {
  font-size: 12px;
  color: grey;
}
/* Fine Stili Generici */
/* Upper Bar */
#upper {
  background: rgba(110, 110, 110, 0.2);
  color:white;
  top: 0;
  z-index: 1;
}
.upgrade{
  float: right;
  height: 100px;
  width: 300px;
}
.upgrade .button {
  height: 40px;
  width: 250px;
  line-height: 40px;
  margin: 28px 25px;
  text-align:center;
  border: 2px solid white;
  border-radius: 50px;
}
/* Fine Upper Bar */
/* Sidebar Menu */
#sidebar {
  position:absolute;
  display: flex;
  flex-direction: column;
  color: #A3A3A3;
  width: 200px;
  height: calc(100% - 100px);
  background: black;
  z-index:2;
}

/* Logo */
.logo_xs {
  display: none;
}
.logo{
  height: 100px;
  line-height: 100px;
  background: black;
  flex-grow: 0;
  flex-shrink: 0;
}
.logo img {
  display: inline-block;
  height: 40px;
  margin-left: 15px;
}
/* Fine Logo */
/* Menu */
.list {
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}
.green {
  display: inline-block;
  width: 2px;
  height: 25px;
  margin-right: 10px;
  background: #ADFF2F;
  opacity: 0;
}
.list ul>li:first-of-type .green{
  opacity:1;
}
.list h3 {
  vertical-align: 5px;
  margin-left: 5px;
}
.list img {
  height: 25px;
  line-height: 25px;
  color: #A3A3A3;
}
/* Fine Menu */
/* Playlist */
.playlist {
  height: calc(100% - 300px);
  overflow: scroll;
  padding-left: 12px;
  margin-top: 10px;
}
.playlist li h3 {
  color: grey;
  display: inline-block;
  vertical-align: calc(28px * 0.66);
}
.playlist li>div{
  margin: 10px 0;
  margin-right: 8px;
  position:relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  background: lightgrey;
}
.playlist li>div>div{
  width: 4px;
  height: 16px;
  background: black;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.playlist li>div div:last-of-type{
  width: 16px;
  height: 4px;
  background: black;
}
/* Fine PLaylist */
/* Account */
.account {
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 12px;
  padding-right: 12px;
}
.account .download {
  border-bottom: 1px solid grey;
  padding-top: 15px;
}
.account img {
  height: 25px;
}
.account h3 {
  vertical-align: 8px;
}
.account .profile {
  padding-top: 8px;
  color: white;
}
.account .profile img {
  margin:0 3px;
  background:grey;
  padding: 1px 2px;
  border-radius:50%;
}
/* Fine Account */
/* Fine Sidebar Menu */
/* Main Section */
#selections {
  background:#141922;
  margin-left: 200px;
  height:calc(100vh - 100px);
  width:calc(100% - 200px);
  overflow: scroll;
}
/* Blank Space */
.blank {
  width: 100%;
  height: 100px;
}
/* Fine Blank Space */
/* Navigation */
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.hor_green {
  background: #6BAD00;
  margin: 0 auto;
  height: 3px;
  width: 50px;
  opacity:0;
}
.navigation div:first-child div .hor_green{
  opacity: 1;
}
.navigation h2 {
  display: inline-block;
  margin: 10px;
  margin-bottom: 7px;
  color: grey;
}
/* Fine Navigation */
/* Sector */
.sector {
  margin-top: 10px;
  margin-left: 15px;
}
.sector .title_list {
  margin: 25px 0;
  margin-left: 5px;
}
.item_list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 1;
  text-align: center;
}
.item img {
  width: calc((100vw - 200px) / 6);
  max-width:200px;
}
.item {
  margin: 0 5px;
  max-width: 200px;
}
.sector:last-of-type img {
  border-radius: 50%;
}
/* Fine Sector */
/* Fine Main Section */
/* Bottom Bar */
#bottom {
  background: #282828;
  bottom: 0;
  display: flex;
  z-index: 3;
}
/* Titolo In Ascolto */
.listening {
  width: calc(100%/4);
}
.listening img {
  height: 35px;
  display: inline-block;
  margin: calc(65px/2) 0;
  margin-left: 12px;
}
.listening .tag {
  display: inline-block;
  vertical-align: 35px;
  margin-left: 12px;
}
h4 {
  font-size: 10px;
}
.listening .tag h4:first-child {
  color:white;
}
.listening .icons {
  display: inline-block;
  margin-left: 2%;
  vertical-align: 35px;
}
/* Fine Titolo In Ascolto */
/* Gestione */
.buttons {
  width: calc(100%/4) * 2;
  flex-grow:1;
  flex-shrink:1;
  flex-wrap: nowrap;
  text-align: center;
}
.buttons ul {
  margin: 20px auto;
  width: 66%;
}
.buttons li {
  display: inline-block;
  font-size: 8px;
  padding: 0 2%;
  color: lightgrey;
}
.buttons .fa-play {
  border: 2px solid lightgrey;
  border-radius: 60%;
  padding: 4px 5px;
  padding-bottom: 6px;
  padding-left: 7px;
  text-align: center;
}
.playin>div {
  display: flex;
  justify-content: center;
}
.playin>div>div{
height: 3px;
width: 70%;
margin: 0 auto;
background: grey;
}
.playin>div>div::before {
  content: '0:00';
  float: left;
  transform: translate(-140%, -40%);
  color: lightgrey;
  font-size: 10px;
  font-weight: 400;
}
.playin>div>div::after {
  content: '4:35';
  float: right;
  transform: translate(140%, -40%);
  color: lightgrey;
  font-size: 10px;
  font-weight: 400;
}
/* Fine Gestione */
/* Opzioni Audio */
.options {
  width: calc(100%/4);
  font-size: 7px;
  flex-shrink:0;
  color: lightgrey;
  text-align: left;
}
.options li{
  display: inline-block;
  padding: 0 5px;
  margin: 46px 0;
}

.options div {
  width: 14%;
  display: inline-block;
  background: lightgrey;
  height: 2px;
  margin-right: 12px;
  position: absolute;
  top:50%;
  right: 3%;
}
/* Fine Opzioni Audio */
/* Fine Bottom Bar */

/* Media Query */
@media screen and (min-width:415px) and (max-width:767px) {
  h2 {
    font-size: 10px;
  }
  /* Upper Bar */
  .upgrade .button {
    width: 140px;
    margin: 28px 80px;
  }
  /* Fine Upper Bar */
  /* Main */
  .item_list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .item img {
    width:200px;
  }
  .item {
    margin: 0 10px;
    margin-bottom: 5px;
  }
  /* Fine Main */
  /* Bottom Bar */
  .listening {
  }
  .listening img{
    margin: calc(65px/2) 0;
    margin-left: 12px;
    height: 35px;
  }
  .listening .tag {
    vertical-align: 35px;
  }
  .buttons ul {
    width: 100%;
  }
  .playin>div>div::before {
    font-size: 5px;
  }
  .playin>div>div::after {
    font-size: 5px;
  }
  .options div {
    display: none;
  }
}
@media screen and (max-width:414px) {
  h2 {
    font-size: 10px;
  }
  h3 {
    font-size: 8px;
  }
  /* Upper Bar */
  .upgrade .button {
    width: 140px;
    margin: 28px 80px;
  }
  /* Fine Upper Bar */
  /* Sidebar */
  #sidebar {
    width: 40px;
  }
  #sidebar .playlist{
    visibility:hidden;
    height: calc(100% - 225px);
  }
  #sidebar h3 {
    display:none;
  }
  .logo {
    display: none;
  }
  .logo_xs {
    display: block;
    height: 40px;
  }
  .logo_xs img {
    height: 25px;
    padding: calc(15px/2);
  }
  .account {
    height: 25px;
    margin: 0 auto;
    padding: 0;
  }
  .account .download img{
    padding-left: 2px;
  }
  .account img {
    height: 15px;
  }
  /* Fine Sidebar */
  /* Main */
  #selections{
    width: calc(100vw - 40px);
    margin-left: 40px;
  }
  .item_list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .item img {
    width:120px;
  }
  .item {
    margin: 0 10px;
    max-width: 120px;
    margin-bottom: 5px;
  }
  /* Fine Main */
  /* Bottom Bar */
  .listening .tag{
    display: none;
  }
  .listening .icons{
    display: none;
  }
  .options div {
    display: none;
  }
  /* Fine Bottom Bar */
}
/* Fine Media Query */

/* Hover Options */
  /* Upper Bar */
  /* Fine Upper Bar */
  /* Sidebar */
  /* Menu */
  .list li:hover > .green {
    /* opacity:1; */
  }
  /* Fine Menu */
  /* Fine Sidebar */
  /* Main Selections */
  /* Navigation */
  .navigation div:hover > .hor_green{
    /* opacity:1; */
  }
  /* Fine Navigation */
  /* Fine Main Selections */
/* Fine Hover Options */
